---
pagination:
  data: contentfulData
  size: 10
  alias: blog
layout: layouts/default.hbs
---

<div class="row">

{{#each pagination.items as |blog|}}
     
     {{#if (eq blog.permalink.en-US "Lab1/lab1Deliverable")}}   
        {{#myShortcode}} 
        {{blog.content.en-US}}  
        {{/myShortcode}}  
    {{/if}}
               
{{/each}}

</div>