---
layout: layouts/default.hbs
---

    <!-- main introduction banner -->
    <section class="bgimage" id="home">
      <div class="container-fluid">
          <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text" id="introduction">
              <h2 class="hero_title">Hi, it's me Yashvi</h2>
              <p class="hero_desc">Computer Programming and Analysis student.</p>
              <p >Course highlights: Web Development, Database Development, System   </p>
              <p> Analysis and Design, Software Development Life Cycle.</p>
        
          </div>
          </div>
      </div>
  </section>

  <!-- about section-->

    <!-- about section-->
    <section id="about" class="about-section bg-light">
        <div class="container py-5">
            <h1 class="text-center mb-5">About Me</h1>
            <div class="row align-items-center">
                <div class="col-lg-4 text-center mb-4 mb-lg-0">
                    <img src="/img/yashvi1.jpeg" class="rounded-circle shadow-lg imageAboutPage" alt="Yashvi Patel" style="width: 250px; height: 250px; object-fit: cover;">
                </div>
                <div class="col-lg-8">
                    <div class="card p-4 shadow-lg bg-white rounded border-0">
                        <h2 class="mb-3">Yashvi Patel</h2>
                        <p><strong>Email:</strong> yashvipatel070105@gmail.com</p>
                        <p><strong>College:</strong> Durham College</p>
                        <p><strong>Course:</strong> Computer Programming and Analysis</p>
                        <p><strong>Course Highlights:</strong> Web Development, Database Development, System Analysis and Design, Software Development Life Cycle</p>
                        <p><strong>Skills:</strong> Independent problem-solving, multitasking, attention to detail, ability to work under pressure, excellent interpersonal and communication skills.</p>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-12">
                    <h3 class="text-center mb-4">Technical Skills</h3>
                    <div class="d-flex justify-content-center flex-wrap">
                    
                        <div class="p-2 text-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" height="20px" width="20px"> HTML</div>
                        <div class="p-2 text-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg" height="20px" width="20px"> CSS</div>
                        <div class="p-2 text-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg" height="20px" width="20px"> PHP</div>
                        <div class="p-2 text-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" height="20px" width="20px"> JavaScript</div>
                        <div class="p-2 text-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" height="20px" width="20px"> Python</div>
                        <div class="p-2 text-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg" height="20px" width="20px"> Java</div>
                        <div class="p-2 text-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg" height="20px" width="20px"> MySQL</div>
                        <div class="p-2 text-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg" height="20px" width="20px"> C#</div>
                        <div class="p-2 text-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg" height="20px" width="20px"> PostgreSQL</div>
                        <div class="p-2 text-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original.svg" height="20px" width="20px"> NodeJS</div>
                        <div class="p-2 text-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg" height="20px" width="20px"> Bootstrap</div>
                        <div class="p-2 text-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cobol/cobol-original.svg" height="20px" width="20px"> COBOL</div>
                        <div class="p-2 text-center"> <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg" height="20px" width="20px"> Git</div>
                        <div class="p-2 text-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" height="20px" width="20px"> GitHub</div>
                        <div class="p-2 text-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/handlebars/handlebars-original-wordmark.svg" height="20px" width="20px"> Handlebars</div>                        
                    </div>
                </div>
            </div>
        </div>
    </section>




  <!-- work experience -->

    <section id="work" class="work-section">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Work Experience</h1>
        <div class="row">

            <div class="col-lg-4 mt-4">
                <div class="card shadow-lg border-0">
                    <div class="card-body">
                        <h4 class="card-title text-center">Peer Tutor</h4>
                        <p class="card-text">
                            <i class="fas fa-user-graduate"></i> <strong>Responsibilities:</strong>
                            <ul>
                                <li>Tutored students individually and in small groups in courses like Database, Web Development, Java, Python, and Math.</li>
                                <li>Customized learning techniques and lessons to meet the pace and learning style of the student.</li>
                                <li>Received positive feedback from students for successfully supporting them in boosting grades.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card shadow-lg border-0">
                    <div class="card-body">
                        <h4 class="card-title text-center">Volunteer</h4>
                        <p class="card-text">
                            <i class="fas fa-handshake"></i> <strong>Key Contributions:</strong>
                            <ul>
                                <li>Worked at various college events, including orientation and open house.</li>
                                <li>Assisted students in locating their classes and navigating throughout the campus.</li>
                                <li>Conducted campus tours for prospective students.</li>
                                <li>Addressed student concerns and inquiries related to college programs and services.</li>
                                <li>Polished communication skills by interacting with 100+ students and parents.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card shadow-lg border-0">
                    <div class="card-body">
                        <h4 class="card-title text-center">PizzaVille</h4>
                        <p class="card-text">
                            <i class="fas fa-pizza-slice"></i> <strong>Achievements:</strong>
                            <ul>
                                <li>Demonstrated exceptional customer service skills by taking orders and handling inquiries.</li>
                                <li>Prepared and cooked pizzas according to Pizza Ville's standards, ensuring quality and consistency.</li>
                                <li>Managed inventory and maintained stock levels to meet customer demand.</li>
                                <li>Collaborated with team members to adhere to food safety and sanitation regulations.</li>
                                <li>Trained new staff members on procedures and protocols.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    

    


    