---
layout: layouts/default.hbs
title: Welcome to Pet's world
---

<section class="home-intro">
  <div class="container">
    <div class="hero-text">
      <h1 class="hero_title">Welcome to the website!! </h1>
      <p>this is the netlify and git sample</p>
      <p class="hero_desc">I'm Yashvi Patel a Computer Programming and Analysis student</p>
    </div>
  </div>
</section>

<section class="content-section">
  <div class="container text-center">
    <p class="yashvi">This is my INFT 3201 Assignment</p>
    
  </div>
</section>



